<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-1</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
        <key>CFBundleAlternativeIcons</key>
        <dict>
            <key>AppIcon-2</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-2</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIcon-3</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-3</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
	</dict>
</dict>
</plist>
